[user]
	name = Kevin Milward
	email = kmilward@tidalzone.co.uk
[pull]
	rebase = true

[difftool]
	prompt = false
	trustExitCode = true

[alias]
    ch = checkout
    co = commit
    st = status
    dt = difftool
    dtc = difftool --cached
    br = branch
    mt = mergetool
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
    lgf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    phead = push origin head
[diff]
	tool = nvimdiff

[merge]
    tool = bc
[mergetool "bc"]
    path = /usr/local/bin/bcomp
    cmd = /usr/local/bin/bcomp "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    trustExitCode = true
